@import '../../styles/resourses/variables.scss';

.formWrapper {
    margin-top: 100px;
    width: $width-full;

    @media (min-width:320px) and (max-width:780px) {
        margin-top: $margin-gap;
    }
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: $margin-gap;
    margin-bottom: 40px;

    @media (min-width:320px) and (max-width:780px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: $margin-gap;
    }
}